@model trelo2.Models.Task

@{
    ViewBag.Title = "Index";
}

<h2>Moje zadania</h2>


<div id="TaskTableDiv"></div>
<div id="AddTaskForm">
    @using (Ajax.BeginForm("AjaxCreate", "Tasks",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "TaskTableDiv"



        }
        ))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
           
            <div class="addbar">
                @Html.EditorFor(model => model.Body, new {htmlAttributes = new {@class = "form-control", placeholder = "Dodaj zadanie, ENTER!" } })
                @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
            </div>
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BulidTable.js"></script>
 
}

