@model IEnumerable<trelo2.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj nowy Task", "Create")
</p>
<div id="TaskTableDiv">

</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BulidTable.js"></script>
}

