@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trelo2</h1>
    <h5>Moja lista zadań</h5>
    <p class="lead">Aplikacja zarządzająca listą zadań, napisana w ASP.NET MVC, z wykorzystaniem Ajax, CSS (Bootstrap). Zaloguj się, żeby sprawdzić jej możliwości </p>
</div>

<div class="row">

</div>